<ion-view>

  <ion-nav-title>
  <div style="overflow:hidden; position:absolute; top:50%; margin-top:-15px">
    <!-- 플롯쓰면 상위 div에서 오버플로우 히든 해야함 플로-->
    <button class="button icon-left ion-chevron-left button-clear button-dark" style="float:left; color:white;"
    ng-click="backpage()">Back</button>
    <!--버튼 헤이트 값이 30이었으므로 그 반절인 -15px을 마진 탑으로 주었다.-->
  </div>

  <font>
    이메일 가입하기
  </font>

  </ion-nav-title>


  <ion-content  class="intro" style="background-color:#01b6ad" >
    <div class="contents">
	<section class="">
     <section class="core-section" style="margin-bottom:10px;padding:15px">
		 <div class="">

        <div>
          <br><br>
        </div>
        <div class="row">
          <div class="col text-center">
            <form  method="get"><!--action="http://validator.w3.org/check"-->

              <label class="item_nobg item-input" >
            	<img class="join_icon" src="img/icons/person.png"style="width: 20px;height: auto; ">
                <input class="bordered_input" type="text" placeholder="이름" id="name" ng-model="user.name">
              </label>

              <label class="item_nobg item-input" >
            	  <img class="join_icon" src="img/icons/mail.png"style="width: 20px;height: auto; ">
                <input class="bordered_input" type="text" placeholder="이메일" id="email" ng-model="user.email">
              </label>

              <label class="item_nobg item-input">
                <img class="join_icon" src="img/icons/lock.png"style="width: 20px;height: auto; ">
                <input class="bordered_input" type="text" placeholder="비밀번호" id="passwd" ng-model="user.password">
              </label>

              <label class="item_nobg item-input" >
            	<img class="join_icon" src="img/icons/lock.png"style="width: 20px;height: auto; ">
                <input class="bordered_input" type="text" placeholder="비밀번호 확인하기" id="passwd2" ng-model="user.confirmPassword">
              </label>

              <button class="button  button-block expirit_text" ng-click="signUp()"><b>가입하기</b></button>
            </form>

          </div>
        </div>
      </div>
      </section>

    </div>
  </ion-content>
</ion-view>
